.login-page {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.login-card {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  height: 50%;
  justify-content: space-between;
}

h1 {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

p {
  padding-top: 1rem;
}

a {
  padding: 0;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
