.subnav {
  display: flex;
  padding-top: 16px;
  padding-right: 16px;
  padding-left: 16px;
  justify-content: space-between;
  flex-direction: row;
  overflow: hidden;
}

.subnav-right {
  flex: 1;
}
button {
  fill: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  padding: 0.2rem;
  float: right;
  outline: none;
}

button:hover {
  fill: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.plus {
  height: 12px;
  width: 12px;
  padding-right: 0.2rem;
}
