form {
  margin-top: 8px;
  margin-bottom: 8px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid rgba(220, 220, 220, 1);
  border-radius: 4px;
}

input {
  padding-left: 8px;
  height: 100%;
  flex-grow: 1;
  appearance: none;
  background: none;
  border: none;
  outline: none;
}

input[type="text"]:focus {
  background: rgba(255, 255, 255, 1);
}
