.main {
  padding: 1.5rem 1.5rem;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-display {
  flex-grow: 1;
}

button {
  fill: rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  padding: 0.2rem;
  float: right;
  outline: none;
}

button:hover {
  fill: rgba(0, 0, 0, 1);
  color: rgba(0, 0, 0, 1);
}

.plus {
  height: 16px;
  width: 16px;
  padding-right: 0.2rem;
}

.trash {
  height: 16px;
  width: 16px;
  padding-right: 0.2rem;
}

.edit {
  height: 16px;
  width: 16px;
  padding-right: 0.2rem;
}

.check {
  height: 16px;
  width: 16px;
  padding-right: 0.2rem;
}
